@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    height: 100vh;
    background-image:url('https://68.media.tumblr.com/51294797dfd8df08a398f50ee4cc5a3a/tumblr_omkgxeBzfm1qjqi9so1_540.png');
    background-color: rgba(0, 0, 0, 0.2);
    background-blend-mode: multiply;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
  }

  .game-table {
    position: relative;
    width: 112rem;
    height: 65rem;
    background: radial-gradient(circle, rgb(82, 155, 69), rgb(25, 64, 18));
    backdrop-filter: blur(200px);
    filter: blur();
    border-radius: 9px;
    overflow:visible;
    display: flex;
    flex-wrap: wrap;
    padding-left: 20px;
    padding-right: 20px;
  }

  .game-login {
    position: relative;
    width: 112rem;
    height: 65rem;
    background: radial-gradient(circle, rgb(82, 155, 69), rgb(25, 64, 18));
    backdrop-filter: blur(200px);
    filter: blur();
    border-radius: 9px;
    overflow:visible;
    display: flex;
    flex-wrap: wrap;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
    justify-content: center;
  }

  .logo {
    top: -10rem;
    position: absolute;
  }

  .deck_cards_section {
    position: relative;
    bottom: 0;
    right: 0;
    width: 18rem;
    height: 20rem;
    margin-left: 6rem;
    margin-top: 36rem;
    margin-right: -22.5rem;
  }

.items-start{
    align-items: flex-start;
}
.self-end{
    align-self: flex-end;
}

  .btn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: #444;
    background: none;
    border: none;
    font-family: inherit;
    font-size: 1.8rem;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 400;
    transition: all 0.2s;
  
    background-color: white;
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(10px);
  
    padding: 0.7rem 2.5rem;
    border-radius: 50rem;
    box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
  }

  .btn--new {
    top: 53rem;
  }

  .btn--abort {
    top: 48rem;
  }

  .btn--hold {
    top: 58rem;
  }

  .btn:active {
    transform: translate(-50%, 3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  }
  
  .btn:focus {
    outline: none;
  }

  .counter {
    flex: 0 0 50%;
    padding: 8rem;
    margin-top: 370px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.75s;
    align-self: flex-end;
  }

  .banner {
    flex: 0 0 100%;
    display: flex;
    align-items: center;
    transition: all 0.75s;
    background: rgba(0,0,0,.25);
    margin-top: 15px;
    height: 35px;
    padding-left: 15px;
    padding-right: 15px;
    justify-content: space-between;
    font-size: 1.8em;
    color: #f3f5f7;
  }

  .signal::before {
  content: "";
  display: inline-block;
  width: 0.6rem;
  height: 0.6rem;
  background-color: currentColor;
  border-radius: 50%;
  margin-right: 0.5rem;
  margin-top: -0.2rem;
  vertical-align: middle;
  }

  .alignleft {
    margin-right:auto;
  }
  .alignright {
    margin-left: auto;
  }

  .current {
    background-color: #214313;
    opacity: 0.8;
    border-radius: 9px;
    color: #fff;
    width: 65%;
    padding: 2rem;
    text-align: center;
    transition: all 0.75s;
  }
  
  .current-label {
    text-transform: uppercase;
    margin-bottom: 1rem;
    font-size: 1.7rem;
    color: #ddd;
  }
  
  .current-score {
    font-size: 3.5rem;
  }
  .cards {
    position: absolute;
    left: 50%;
    top: 13rem;
    transform: translateX(-50%);
    height: 25rem;
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
  }

  .deck_cards {
    background-color: #ddd;
    background-image: url('https://bfa.github.io/solitaire-js/img/card_back_bg.png');
    height: 25rem;
    padding: 0px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0,0,0,.6);
  }

  .deck_cards:nth-child(1) {
    position:absolute;
    z-index: 8;
  }

  .deck_cards:nth-child(2) {
    position:absolute;
    top: 0.2em;
    left: 0;
    z-index: 7;
  }

  .deck_cards:nth-child(4) {
    position:absolute;
    top: 0.4em;
    left: 0;
    z-index: 6;
  }

  .deck_cards:nth-child(5) {
    position:absolute;
    top: 0.6em;
    left: 0;
    z-index: 5;
  }

  .deck_cards:nth-child(6) {
    position:absolute;
    top: 0.8em;
    left: 0;
    z-index: 4;
  }

  .deck_cards:nth-child(7) {
    position:absolute;
    top: 1em;
    left: 0;
    z-index: 3;
  }

  .deck_cards:nth-child(7) {
    position:absolute;
    top: 1.02em;
    left: 0;
    z-index: 2;
  }

  .deck_cards:nth-child(8) {
    position:absolute;
    top: 1.02em;
    left: 0;
    z-index: 1;
  }

  .deck_cards:nth-child(9) {
    position:absolute;
    top: 1.04em;
    left: 0;
    z-index: -1;
  }

  .deck_cards:nth-child(10) {
    position:relative;
    top: 1.06em;
    left: 0;
    z-index: -2;
  }

  .login__input {
    border: none;
    padding: 0.5rem 2rem;
    font-size: 1.8rem;
    font-family: inherit;
    text-align: center;
    width: 20rem;
    border-radius: 10rem;
    margin-right: 1rem;
    color: inherit;
    border: 1px solid #fff;
    transition: all 0.3s;
  }
  
  .login__input:focus {
    outline: none;
    border: 1px solid #ccc;
  }
  
  .login__input::placeholder {
    color: #bbb;
  }

/* -------------------------- */
/* CLASSES TO MAKE MODAL WORK */
  .modal-img {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .close-modal {
    position: absolute;
    top: 1.2rem;
    right: 2rem;
    font-size: 5rem;
    color: #333;
    cursor: pointer;
    border: none;
    background: none;
  }
  .hidden {
    display: none;
  }

  .modal p {
    font-size: 2rem;
  }

  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    text-align: center;
  
    background-color: white;
    padding: 6rem;
    border-radius: 5px;
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
    z-index: 10;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    z-index: 5;
  }
